# ignore everything
*
# *.elc
# .#*

# white list anything that's a directort
!INSTALL
!*.el
!install
!README.org
!shaman
!shaman.bat

# !/cache/
# !/cache/bin/
# !/cache/bin/*
# !/cache/bin/*/
# !/cache/bin/*/*
# !/cache/bin/*/*/
# !/cache/bin/*/*/*

!/bin/
!/bin/*

!/emacs-config/
!/emacs-config/*
!/emacs-config/*/
!/emacs-config/*/*
!/emacs-config/*/*/
!/emacs-config/*/*/*
!/emacs-config/*/*/*/
!/emacs-config/*/*/*/*
!/emacs-config/*/*/*/*/
!/emacs-config/*/*/*/*/*
!/emacs-config/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*
!/emacs-config/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*
!/emacs-config/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*
!/emacs-config/*/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*/*
!/emacs-config/*/*/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*/*/*
!/emacs-config/*/*/*/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*/*/*/*
target/
**/*.rs.bk
Cargo.lock
