# ignore everything
*

# white list anything that's a directort
!.gitignore
!install
!install.sh
!logo.png
!README.org
!shaman
!shaman.bat
!*.el
*.~undo-tree~

# !/cache/
# !/cache/bin/
# !/cache/bin/*
# !/cache/bin/*/
# !/cache/bin/*/*
# !/cache/bin/*/*/
# !/cache/bin/*/*/*

!/bin/
!/bin/*

!/conf/
!/conf/*
!/conf/*/
!/conf/*/*
!/conf/*/*/
!/conf/*/*/*
!/conf/*/*/*/
!/conf/*/*/*/*
!/conf/*/*/*/*/
!/conf/*/*/*/*/*
!/conf/*/*/*/*/*/
!/conf/*/*/*/*/*/*
!/conf/*/*/*/*/*/*/
!/conf/*/*/*/*/*/*/*
!/conf/*/*/*/*/*/*/*/
!/conf/*/*/*/*/*/*/*/*
!/conf/*/*/*/*/*/*/*/*/
!/conf/*/*/*/*/*/*/*/*/*
!/conf/*/*/*/*/*/*/*/*/*/
!/conf/*/*/*/*/*/*/*/*/*/*
!/conf/*/*/*/*/*/*/*/*/*/*/
!/conf/*/*/*/*/*/*/*/*/*/*/*

!/snippets/
!/snippets/*
!/snippets/*/
!/snippets/*/*
!/snippets/*/*/
!/snippets/*/*/*
!/snippets/*/*/*/
!/snippets/*/*/*/*
!/snippets/*/*/*/*/
!/snippets/*/*/*/*/*
!/snippets/*/*/*/*/*/
!/snippets/*/*/*/*/*/*
!/snippets/*/*/*/*/*/*/
!/snippets/*/*/*/*/*/*/*
!/snippets/*/*/*/*/*/*/*/
!/snippets/*/*/*/*/*/*/*/*
!/snippets/*/*/*/*/*/*/*/*/
!/snippets/*/*/*/*/*/*/*/*/*
!/snippets/*/*/*/*/*/*/*/*/*/
!/snippets/*/*/*/*/*/*/*/*/*/*
!/snippets/*/*/*/*/*/*/*/*/*/*/
!/snippets/*/*/*/*/*/*/*/*/*/*/*

target/
**/*.rs.bk

.DS_Store
*.elc
.#*
*.lock
*.crashdump
*.stackdump
