# ignore everything
*
# *.elc
# .#*

# white list anything that's a directort
!.gitignore
!install
!install.sh
!logo.png
!README.org
!shaman
!shaman.bat
!*.el

# !/cache/
# !/cache/bin/
# !/cache/bin/*
# !/cache/bin/*/
# !/cache/bin/*/*
# !/cache/bin/*/*/
# !/cache/bin/*/*/*

!/bin/
!/bin/*

!/emacs-config/
!/emacs-config/*.el
!/emacs-config/*/
!/emacs-config/*/*.el
!/emacs-config/*/*/
!/emacs-config/*/*/*.el
!/emacs-config/*/*/*/
!/emacs-config/*/*/*/*.el
!/emacs-config/*/*/*/*/
!/emacs-config/*/*/*/*/*.el
!/emacs-config/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*.el
!/emacs-config/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*.el
!/emacs-config/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*.el
!/emacs-config/*/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*/*.el
!/emacs-config/*/*/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*/*/*.el
!/emacs-config/*/*/*/*/*/*/*/*/*/*/
!/emacs-config/*/*/*/*/*/*/*/*/*/*/*.el
target/
**/*.rs.bk

Cargo.lock
rebar.lock
rebar3.crashdump
